body {
    background: linear-gradient(45deg, #808080, #3fada8);
}

.space100{
	margin: 100px 0px 0px 0px;
}
.space30{
	margin: 30px 0px 0px 0px;
}
.em1{
	margin-left: 1em;
}

.page-title{
	text-align: center;
	color: #ffffff;
}

.icon{
	width: 100px;
	height: 100px;
	border-radius: 10px 10px 10px 10px;
}

.panel-margin{
	margin: 0% 10% 0% 10%;
}

.panel-in-padding{
	padding: 3% 20px 3% 20px;
}

a{
    text-decoration: none;
}
